.idea/
.git
target/
src/**/resources/database.properties
**.log

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/Lab1.GaussianBlur/src/main/resources/butterfly_results/
/Lab1.GaussianBlur/src/main/resources/enot_results/
/Lab1.GaussianBlur/src/main/resources/large-image_results/
/Lab1.GaussianBlur/src/main/resources/nature1.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_1.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_2.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_4.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_6.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_8.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_10.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_11.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_12.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_13.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_14.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_16.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_18.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_20.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_25.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_30.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_100.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_200.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature1_300.png
/Lab1.GaussianBlur/src/main/resources/nature2.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_1.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_2.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_4.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_6.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_8.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_10.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_11.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_12.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_13.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_14.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_16.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_18.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_20.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_25.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_30.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_100.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_200.png
/Lab1.GaussianBlur/src/main/resources/nature1_results/nature2_300.png
/Lab1.GaussianBlur/src/main/resources/nature3.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_1.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_2.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_4.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_6.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_8.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_10.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_11.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_12.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_13.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_14.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_16.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_18.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_20.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_25.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_30.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_100.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_200.png
/Lab1.GaussianBlur/src/main/resources/nature3_results/nature3_300.png
